[init]
	defaultBranch = master
[user]
	email = blpearson44@icloud.com
	name = Ben Pearson
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
